/* fonts */
@font-face {
	font-family: HarmoniaSansBlack;
	src: url(../fonts/HarmoniaSansProCyr-Black.otf);
	font-weight: 800;
}
@font-face {
	font-family: HarmoniaSansBold;
	src: url(../fonts/HarmoniaSansProCyr-Bold.otf);
	font-weight: 600;
}
@font-face {
	font-family: HarmoniaSansSemiBd;
	src: url(../fonts/HarmoniaSansProCyr-SemiBd.otf);
	font-weight: 500;
}
@font-face {
	font-family: HarmoniaSansReg;
	src: url(../fonts/HarmoniaSansProCyr-Regular.otf);
	font-weight: 400;
}
@font-face {
	font-family: HarmoniaSansItalic;
	src: url(../fonts/HarmoniaSansProCyr-Italic.otf);
	font-weight: 400;
}

/* ========================================================================== */
/* STANDARD ELEMENTS ======================================================== */

/* loader */
.loader {
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: $z_loader;
	top: 0;
	right: 0;
	background-color: rgba(130, 112, 81, 0.5);
	display: none;
	align-items: center;
	justify-content: center;

	&.open {
		display: flex;
	}
	.loader_ico {
		display: block;
		width: 70px;
		height: 70px;
		@include bg_contain($loader);
	}
}

body {
	@include fonts(HarmoniaSansReg, 16px, 400);
	color: $tx_black;
}

/* text properties ---------------------------------------------------------- */
h1, .h1 {
	@include fonts(HarmoniaSansBlack, 3.25rem, 800, 3.25rem);
	text-align: center;
	text-transform: uppercase;
}
h2, .h2 {
	@include fonts(HarmoniaSansBlack, 2.25rem, 800, 2.25rem);
	text-align: center;
	text-transform: uppercase;
}
h3, .h3 {
	@include fonts(HarmoniaSansBlack, 2.05rem, 800, 2.05rem);
	text-align: center;
	text-transform: uppercase;
}
h4, .h4 {
	@include fonts(HarmoniaSansBold, 1.75rem, 600, 1.75rem);
	text-align: center;
}
h5, .h5 {
	@include fonts(HarmoniaSansBold, 1.5rem, 600, 1.5rem);
	text-align: center;
}
h6, .h6 {
	@include fonts(HarmoniaSansSemiBd, 1.23rem, 500, 1.23rem);
	text-align: center;
}
b, .bold {
	font-family: HarmoniaSansBold;
	font-weight: 600;
}
strong {
	@include fonts(HarmoniaSansSemiBd, 1.13rem, 500);
}
em {
	font-family: HarmoniaSansItalic;
	font-weight: 400;
}
i, .italic {
	font-family: HarmoniaSansItalic;
	font-weight: 400;
}
q {
	font-family: HarmoniaSansItalic;
	font-weight: 400;
}
u, .underline {
	text-decoration: underline;
	text-decoration-color: $tx_black;
}
mark {
	background-color: $grey_light;
}
small, .small-text {
	@include fonts(HarmoniaSansReg, 0.8rem, 400);
}
dfn {
	font-family: HarmoniaSansItalic;
	font-weight: 400;
}
blockquote {
	padding: 1.63rem 3.13rem;
	font-family: HarmoniaSansItalic;
	font-weight: 400;
}
hr, .hr {
	margin: 8px 0;
	border: none;
	@include border("normal", top);
}
.text_important {
	color: $tx_important;
}
.image-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.image-contain {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* link */
a {
	text-decoration: none;
	color: $tx_important;
}
a:hover {
	text-decoration: none;
	color: scale-color($tx_important, $lightness:$hover_lightness);
	@media (hover: none) {
		color: $tx_important;
	}
}
/* end Text properties ------------------------------------------------------ */

/* forms ==================================================================== */
.fieldset {
	display: flex;
	flex-direction: column;
	padding: 2.19rem 0;
	@include border("normal", top, bottom);

	.legend {
		width: 100%;
		padding: 0 0 1.38rem;
		@include fonts(HarmoniaSansBold, 1.75rem, 600);
		text-align: center;
	}
}
.datalist {

	.option {

	}
}

/* validation */
.input-parent {
	display: flex;
	flex-direction: column;
	padding: 12px 0;

	.text-empty, .text-invalid, .server-text-invalid {
		font-size: 0.88rem;
		color: $red;
		display: none;
		padding-top: 8px;
	}
	&.invalid .text-invalid, &.empty .text-empty, &.invalid-server .server-text-invalid {
		display: block;
	}
	&.invalid, &.empty, &.invalid-server {
		input[type='text'], input[type='password'], input[type='date'], input[type='email'], input[type='number'], input[type='search'], input[type='tel'], input[type='url'], textarea, select {
			border: 1px solid $red !important;
		}
	}
}
/* end Validation */

.input-wrap {
	@include flex_center();
	@media screen and (max-width: 992px) {
		flex-direction: column;
		align-items: stretch;
	}

	.label {
		width: 200px;
		flex-shrink: 0;
		padding-right: 0.94rem;
		@media screen and (max-width: 992px) {
			width: 100%;
			padding-right: 0;
		}
	}
	.input, .textarea, .select {
		width: 100%;
	}
}
.required-sign {
	color: $red;
}

.label {
	@include fonts(HarmoniaSansSemiBd, 1rem, 500, 1rem);
	color: $tx_black;
}
.btn, .button, .label.btn {
	text-decoration: none;
	@include fonts(HarmoniaSansSemiBd, 1.13rem, 500, 1.13rem);
	color: #ffffff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 2.63rem;
	min-width: 6.25rem;
	padding: 0.63rem 1.25rem;
	background-color: $orange;
	@include transition();

	&:hover {
		text-decoration: none;
		background-color: scale-color($orange, $lightness:$hover_lightness);
		@media (hover: none) {
			background-color: $orange;
		}
	}
	&:disabled {
		background-color: scale-color($grey_form, $lightness:50%, $saturation:-50%);
		cursor: default;
	}
}

.input, .textarea, .select {
	@extend %form_structure;
	@extend %form_colors;
}
.select {

	&.placeholder {
		option:disabled:nth-child(1) {
			color: transparent !important;
		}
	}
}
.inline-select {
	display: inline-block;
	max-width: 250px;
}
.select-label {
	padding-right: 0.75rem;
}
.textarea {
	height: auto;
	min-height: 14vw;
	width: 100%;
}
.input.file {
	display: none;
}
.input.file:disabled+.label.btn {
	background-color: scale-color($grey_form, $lightness:50%, $saturation:-50%);
	cursor: default;
}

/* checkbox - radio ----------------------- */
.checkbox {
	@include radio_check_structure("check");
}

.radio {
	@include radio_check_structure("radio");
}

/* range filter --------------------------- */
.range-filter {
	padding-top: 1.86rem;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.range_space {
		width: 100%;
		height: 0.19rem;
		background-color: $grey_form;

		.range_inner-space {
			height: 100%;
			background-color: $black;
			position: relative;
		}
	}
	.range-point {
		width: 1.03rem;
		height: 1.03rem;
		border-radius: 50%;
		background-color: $black;
		position: absolute;
		z-index: $z_range_point;
		top: 50%;
		cursor: pointer;
		padding: 0.13rem;
		background-clip: content-box;

		&.range_start-point {
			left: 0;
			transform: translate(-50%, -50%);
		}
		&.range_end-point {
			right: 0;
			transform: translate(50%, -50%);
		}
		.range-point_data {
			@include fonts(HarmoniaSansSemiBd, 0.88rem, 500, 0.88rem);
			position: absolute;
			top: -246%;

			&.range_start-point_data {
				left: 50%;
				transform: translateX(-50%);
			}
			&.range_end-point_data {
				right: 50%;
				transform: translateX(50%);
			}
		}
	}
}


.text-btn {
	display: inline;
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}
.text-btn_chromatic {
	@extend .text-btn;
	color: $tx_important;

	&:hover {
		opacity: $hover_opacity;
		@media (hover: none) {
			opacity: 1;
		}
	}
}
.text-btn_black {
	@extend .text-btn;
	color: $tx_black;

	&:hover {
		color: $tx_important;
		@media (hover: none) {
			color: $tx_black;
		}
	}
}
.close-btn {
	width: 22px;
	height: 22px;
}

/* end Forms ================================================================ */

/* icon buttons ============================================================= */
/* leading classes
icon-btn
icon
icon-color-custom - must have mono color icons
icon-color - must have chromatic icons
icon-color-start - if you want to show chromatic icons in the beginning
*/

$svg_icon_hover: hue-rotate(169deg) brightness(221%) saturate(856%);
$svg_icon_disabled: brightness(320%) saturate(20%);

.btn-icon {
	display: inline-block;
	padding: 2px;
	background-origin: content-box;
	@include transition();
	@include bg_contain();

	&.icon-color-custom:hover:not(.disabled) {
		filter: $svg_icon_hover;

		@media (hover: none) {
			filter: none;
		}
	}
	&.icon-color-custom.active:not(.disabled) {
		filter: $svg_icon_hover;
	}
	&.icon-color-start.icon-color-custom {
		filter: $svg_icon_hover;
	}
	&.icon-color-start:hover:not(.disabled) {
		opacity: $hover_opacity;
		@media (hover: none) {
			opacity: 1;
		}
	}
	&.icon-color-custom.disabled, &.icon-color.disabled {
		cursor: default;
		filter : $svg_icon_disabled;
	}
	&.icon-color-start.disabled:not(.icon-color-custom):not(.icon-color) {
		cursor: default;
		filter: greyscale(100%);
	}
}
.icon {
	display: inline-block;
	@include bg_contain();
	background-origin: content-box;

	&.icon-color-custom {
		filter: $svg_icon_hover;
	}
}
@mixin icon_color($filter_black) {
	&.btn-icon {
		filter: $filter_black;

		&:hover:not(.disabled) {
			filter: none;

			@media (hover: none) {
				filter: $filter_black;
			}
		}
		&.active:not(.disabled) {
			filter: none;
		}
		&.icon-color-start {
			filter: none;
		}
	}
}

.visa {
	background-image: $icon_visa;
}
.mastercard {
	background-image: $icon_mastercard;
}
.facebook {
	background-image: $icon_facebook;
	$filter_black: hue-rotate(-12deg) brightness(92%) saturate(10%) contrast(200%);
	@include icon_color($filter_black);
}
.google {
	background-image: $icon_google;
	$filter_black: hue-rotate(206deg) brightness(90%) saturate(6%) contrast(250%);
	@include icon_color($filter_black);
}
.instagram {
	background-image: $icon_instagram_active;
	$filter_black: grayscale(100%) brightness(70%);
	@include icon_color($filter_black);
}
.twitter {
	background-image: $icon_twitter;
	$filter_black: hue-rotate(6deg) brightness(45%) saturate(20%);
	@include icon_color($filter_black);
}
.ico_add-cart {
	background-image: $icon_add_cart;
}
.ico_cart {
	background-image: $icon_cart;
}
@keyframes cart-jump {
	0% {
		transform: translateY(0) scaleY(1) skewX(0deg);
	}
	70% {
		transform: translateY(5px) scaleY(0.85) skewX(6deg);
	}
	100% {
		transform: translateY(0) scaleY(1) skewX(0deg);
	}
}
.add-cart-animation {
	transition: all 0.3s ease;
	transform-origin: 10% 110%;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-duration: 0.3s;
	animation-name: cart-jump;
}
.ico_global {
	background-image: $icon_global;
}
.ico_like {
	background-image: $icon_like;
}
.ico_mail {
	background-image: $icon_mail;
}
.ico_phone {
	background-image: $icon_phone;
}
.ico_search {
	background-image: $icon_search;
}
.ico_user {
	background-image: $icon_user;
}
.ico_star {
	background-image: $icon_star;

	&.active {
		filter: hue-rotate(-205deg) brightness(77%) saturate(10045%);
	}
}
.ico_load {
	background-image: $icon_load;
}
.ico_close {
	background-image: $icon_close;
}
.ico_sandwich {
	background-image: $menu_mob;
}
.ico_plus {
	background-image: $open;
}

/* end Icon buttons ========================================================= */

/* structure blocks ========================================================= */

.vertical-row-center {
	@include flex_center();
}
.space-between {
	@include flex_center();
	justify-content: space-between;
}

/* end Structure blocks ===================================================== */

/* POP-UP structure ========================================================= */

body.noscroll {
	overflow: hidden;
}
.popup-wrap {
	display: none;
	opacity: 0;
	pointer-events: none;
	@include transition(opacity, 0.4s);
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z_popup;
	width: 100%;
	height: 100%;
	overflow: hidden;

	.back-wall {
		@include absolute(0, 0, $z_popup_back);
		opacity: 0.4;
		width: 100%;
		height: 100%;
		background-color: $black;
	}
	.popups-block_wrap {
		@include absolute(0, 0, $z_popup_wrap);
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;

		.popups-frame_wrap {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100%;
		}
		.popups-frame {
			margin: 6px;
			padding: 0.88rem;
			max-width: calc(100% - 12px);
			min-width: 200px;
			min-height: 100px;
			background-color: #fff;
			border-radius: 0.38rem;

			.close-button-row {
				display: flex;
				justify-content: flex-end;
				margin-top: -10px;
				margin-right: -10px;

				.close-btn {
					padding: 4px;
				}
			}
			.popups-window {
				max-width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
	&.display-popup {
		display: block;
	}
	&.animate-popup {
		opacity: 1;
		pointer-events: auto;
		@include transition(opacity, 0.4s);
	}
}
.popup-window {
	display: none;
	max-width: 100%;

	&.popup-retreat {
		padding: 0 7% 6px;
		@media screen and (max-width: 479px) {
			padding: 0 1% 6px;
		}
	}
	.h4, .h5, .h6 {
		width: auto;
		padding: 20px 0;
	}
	.input-parent, .input, .select, .textarea {
		width: 100%;
	}
	.text-empty, .text-invalid, .server-text-invalid {
		align-self: flex-start;
	}
	&.display-popup {
		display: block;
	}
	.popup-description {
		@include fonts(HarmoniaSansReg, 0.88rem, 400, 0.88rem);
	}
	.checkbox+.label, .radio+.label {
		padding-left: 0;
		padding-right: 0;
	}
	.label {
		@media screen and (max-width: 768px) {
			padding-bottom: 6px;
		}
	}
}

.local-popup-wrap {

	&>* {
		position: absolute;
		z-index: $z_local_popup;
	}
	.local-popup {
		padding: 0.48rem;
		max-width: calc(100% - 12px);
		background-color: #fff;
		border-radius: 0.38rem;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	}
}

/* end POP-UP structure ===================================================== */

/* tooltip ------------------------------------------------------------------ */

.tooltip {
	@include absolute(0, 0, $z_tooltip);
	min-width: 100px;
	max-width: 90vw;
	background-color: #000;
	color: #fff;
	padding: 8px 6px;
	text-align: center;
	opacity: 1;
	@include transition(opacity, 0s);

	&.hidden-tooltip {
		opacity: 0;
		pointer-events: none;
		@include transition(opacity, 1.6s);
	}
}

/* end Tooltip -------------------------------------------------------------- */

/* end STANDARD ELEMENTS ==================================================== */