@import "_variables";
@import "regular";
@import "units";

/* HEADER ------------------------------------------------------------------- */
.header {
	background-color: #fff;
}
.header_top {
	height: 61px;
	@include border("normal", bottom);
	@media screen and (max-width: 576px) {
		height: 40px;
	}
	@media screen and (max-width: 479px) {
		height: auto;
		padding: 8px 0;
		padding-right: 18px;
	}

	.soc-networks {
		@media screen and (max-width: 576px) {
			display: none;
		}
	}
	.contacts-wrap {
		@media screen and (max-width: 479px) {
			padding-right: 18px;
		}
	}
}
.header_bottom {
	height: 120px;
	@include border("light", bottom);
	@media screen and (max-width: 576px) {
		position: relative;
		height: 80px;
	}

	&>.col-12 {
		@media screen and (max-width: 479px) {
			position: static;
		}
	}
	.logo {
		margin-top: 6px;
	}
	.menu {
		height: 100%;
		@include flex_center();
		@media screen and (max-width: 576px) {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			transform: translateY(99%);
			z-index: $z_main_menu_adaptive;
			background-color: #fff;
			height: auto;
			@include border("light", top);
			opacity: 0;
			pointer-events: none;
			@include transition();
		}

		ul {
			@media screen and (max-width: 576px) {
				flex-direction: column;
			}
		}

		li {
			margin-right: 5.4%;
			@media screen and (max-width: 768px) {
				margin-right: 6px;
				margin-left: 6px;
			}
			@media screen and (max-width: 576px) {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 3.5rem;
			}
			a {
				@media screen and (max-width: 576px) {
					line-height: 2.35rem;

					&:hover {
						@include transition();
						background-color: $grey_light;
					}
				}
			}
		}
	}
	.adaptive-menu {
		@media screen and (max-width: 768px) {
			order: 1;
			padding-top: 12px;
		}
		@media screen and (max-width: 576px) {
			position: static;
			padding: 0;

			&:hover {
				.menu {
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
	}
	.header_bottom_right {
		width: 128px;
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 6px;

		&>:last-child {
			padding-right: 0;
		}
		&>:first-child {
			padding-left: 0;
		}
	}
	.ico_search {
		width: 22px;
		height: 25px;
		padding-top: 3px;
		padding-bottom: 4px;
		@media screen and (max-width: 479px) {
			width: 66px;
			height: 71px;
			position: absolute;
			left: 0;
			bottom: 0;
			transform: translateY(100%);
			z-index: $z_header_btn_adaptive;
			border-right: 1px solid white;
			border-bottom: 1px solid white;
			padding: 16px 20px;

			&:first-child {
				padding-left: 20px;
			}
		}
	}
	.ico_user {
		width: 24px;
		height: 25px;
		margin-left: 6px;
		@media screen and (max-width: 479px) {
			position: absolute;
			right: 18px;
			top: -32px;
		}
	}
	.cart-button {
		@include flex_center();
		flex-direction: column;
		padding: 2px;
		@media screen and (max-width: 479px) {
			position: absolute;
			bottom: 0;
			right: 0;
			transform: translateY(100%);
			z-index: $z_header_btn_adaptive;
			padding: 16px 20px;
			border-left: 1px solid white;
			border-bottom: 1px solid white;

			&:last-child {
				padding-right: 20px;
			}
		}

		.cart-qty {
			visibility: hidden;
			width: 18px;
			height: 18px;
			background-color: $black;
			border-radius: 50%;
			@include fonts(HarmoniaSansReg, 10px, 400, 10px);
			text-align: center;
			padding-right: 1px;
			color: #fff;
			padding-top: 5px;
		}
		.ico_cart {
			width: 28px;
			height: 21px;
		}
		&.active {
			.cart-qty {
				visibility: visible;
			}
			.ico_cart {
				filter: $svg_icon_hover;
			}
		}
	}
	.sandwich-btn {
		@media screen and (max-width: 576px) {
			display: block;
			height: 80px;
		}
		@media screen and (max-width: 479px) {
			position: absolute;
			top: 0;
			right: 10px;
			height: 60px;
		}
	}
	.header_bottom_inside {
		@media screen and (max-width: 576px) {
			align-items: center;
		}
	}
	.header_bottom_right-wrap {
		@media screen and (max-width: 479px) {
			width: 0;
			flex-shrink: 1;
			flex-basis: 0;
			position: static;
		}
	}
}
/* end HEADER --------------------------------------------------------------- */

/* FOOTER ------------------------------------------------------------------- */
.footer {
	padding: 80px 0 73px;
	@media screen and (max-width: 768px) {
		padding: 40px 0 33px;
	}
	@media screen and (max-width: 479px) {
		text-align: center;
	}

	.copyright, .logo {
		padding: 8px 0;
	}
	.copyright-wrap {
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	.payment-title {
		padding-bottom: 18px;
		@include fonts(HarmoniaSansSemiBd, 1rem, 500);
		color: $tx_important;
	}
	.payment {
		padding-bottom: 4px;
	}
	.payment-wrap {
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}
.footer_menu {
	column-count: 3;
	column-gap: 42px;
	column-rule-width: 0;
	@media screen and (max-width: 479px) {
		column-count: auto;
		column-gap: normal;
		display: inline-block;
	}
}
.footer_menu_item {
	@media screen and (max-width: 479px) {
		text-align: left;
	}
}
.copyright {
	font-size: 0.88rem;
}
/* end FOOTER --------------------------------------------------------------- */

.main {
	background-color: $grey_light;
	padding-bottom: 120px;
	@media screen and (max-width: 1200px) {
		padding-bottom: 80px;
	}
}

/* slider section */
.slider_wrap {
	height: 650px;
	max-height: calc(100vh - 180px);
	min-height: 300px;
	@media screen and (max-width: 479px) {
		max-height: calc(100vh - 140px);
	}
}
.slide1 {
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: auto;
	background-image: url(../images/images/head_bg.jpg);

	&>.container {
		height: 100%;

		&>.row {
			height: 100%;
		}
	}
	.bg-image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		background-position: right top;
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-image: url(../images/images/head_bg_photo.png);
		outline: none;
	}
}
.slider_description1 {
	@media screen and (max-width: 479px) {
		padding-top: 40px;
	}

	.description1_title {
		text-transform: uppercase;
		@include fonts(HarmoniaSansBlack, 3.25rem, 800);
		color: $tx_important;
		margin-bottom: 17px;
		margin-top: -12px;
	}
	.description1_subtitle {
		@include fonts(HarmoniaSansSemiBd, 1.13rem, 500, 1.13rem);
		color: $tx_black_light1;
		margin-bottom: 10px;
	}
	.description1_text {
		color: $tx_black_light2;
		margin-bottom: 60px;
		@media screen and (max-width: 479px) {
			display: none;
		}
	}
}
.slider_indicator {
	@media screen and (max-width: 768px) {
		display: none;
	}
}

/* new arrivals section */
.new-arrivals_wrap {
	.load-more {
		margin-top: 62px;
		margin-bottom: 15px;
		@media screen and (max-width: 1200px) {
			margin-top: 32px;
		}
	}
}

/* advertising section */
.advertising_wrap {

}
.promo-any {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.promo-any_title {
		margin-bottom: 8px;
	}
	.promo-any_size-block {
		font-size: 0.75rem;
		letter-spacing: 0.4rem;
		opacity: 0.4;
		margin-bottom: 3px;
	}
}

/* best sales section */
.best-sales_wrap {
	.title-section_wrap {
		padding-top: 112px;
		@media screen and (max-width: 1200px) {
			padding-top: 72px;
		}
	}
}

/* subscribe section */
.subscribe_wrap {
	width: 100%;
	height: 122px;
	padding: 15px 3.5% 15px 4.5%;
	background-color: $white_place;
	@media screen and (max-width: 992px) {
		flex-wrap: wrap;
	}
	@media screen and (max-width: 992px) {
		height: auto;
	}

	.subscription_title-block {
		width: 50%;
		@media screen and (max-width: 992px) {
			width: 100%;
		}
		@media screen and (max-width: 479px) {
			flex-direction: column;
		}
	}
	.subscription_form {
		width: 50%;
		@media screen and (max-width: 992px) {
			width: 100%;
			justify-content: center;
		}

		.input {
			width: 18.2rem;
			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}
	}
}

/* product wraps */
.product_wrap {
	padding: 104px 0 125px;
	background-color: #fff;
	@media screen and (max-width: 992px) {
		padding: 64px 0 85px;
	}

	.product_describe {
		padding-left: 12px;
		padding-right: 75px;
		@media screen and (max-width: 1024px) {
			padding-right: 12px;
		}

		.product_describe-block {
			h1 {
				line-height: 2rem;
				@media screen and (max-width: 992px) {
					font-size: 2.25rem;
				}
			}
		}
		.product_resume-block {
			@media screen and (max-width: 992px) {
				flex-direction: column;
			}

			.product_purchase-block {
				width: 100%;
				justify-content: space-between;
			}
		}
	}
	.product-desc-image {
		@media screen and (max-width: 1024px) {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
	.product_prop-block {
		.prop-counter {
			text-align: right;

			&>span:first-child {
				margin-right: 0;
			}
			.counter {
				margin-left: 1rem;
			}
		}
	}
	.price {
		@media screen and (max-width: 992px) {
			padding-bottom: 18px;
			align-self: flex-end;
		}
	}
}
.product-popup-image {
	max-height: calc(100vh - 60px);
	max-width: 100%;
}
.related-product_wrap {
	.title-section_wrap {
		padding-top: 112px;
		@media screen and (max-width: 1200px) {
			padding-top: 72px;
		}

		.title-block {
			padding-bottom: 71px;
			@media screen and (max-width: 1200px) {
				padding-bottom: 41px;
			}

			h2 {
				font-size: 1.75rem;
				line-height: 1.75rem;
			}
		}
	}
}
.product-list_wrap {
	@media screen and (max-width: 1200px) {
		padding: 75px 0;
	}
	.selector {
		.selector_block-item:nth-child(2) {
			padding-top: 1.15rem;
			@media screen and (max-width: 768px) {
				padding-top: 2px;
			}
		}
	}
}

/* contact info section */
.contact-info {
	.title-section_wrap {
		padding-bottom: 0;
	}
	.contact-info-wrap {
		padding: 0 15% 50px;
		@media screen and (max-width: 576px) {
			text-align: center;
		}

		.address-row {
			font-size: 1.4rem;
			padding-bottom: 18px;
		}
	}
	.input, .textarea, .select {
		&:hover {
			background-color: #fff;
		}
	}
	.input {
		@media screen and (max-width: 768px) {
			width: 100%;
			max-width: none;
		}
	}
}

/* POP-UP windows --------------- */
.popup-question {
	width: 345px;

	button {
		font-size: 1.2rem;
	}
}
.popup-cart {
	.product-item_name {
		&:hover {
			color: $black;
			cursor: default;
		}
	}
	.prop-counter>span:last-child {
		margin-right: 0;
	}
	.price-block {
		@include fonts(HarmoniaSansSemiBd, 1.13rem, 500, 1.13rem);
	}
}
.popup-confirm {
	&.popup-window {
		width: 690px;
	}
}
.popup-forgot_password {

	&.popup-window {
		width: 345px;
	}
}
.popup-information {
	width: 345px;
}
.popup-login {

	&.popup-window {
		width: 345px;
	}
}
.popup-new_password {

	&.popup-window {
		width: 345px;
	}
}
.popup-payment {

}
.popup-search {
	width: 1200px;

	.search-field-row {
		.input-parent {
			display: inline-block;
			max-width: 350px;
			padding: 0;
		}
		.btn {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0;
		}
		.ico_search {
			height: 1.6rem;
			width: 1.6rem;
		}
	}
	.label {
		display: inline-flex;

		&:before {
			margin-top: 2px;
		}
	}
	#popup_search_load {
		width: 100%;
	}
	.product-item_big_image {
		height: 122px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
	.product-item_name {
		&:hover {
			color: $black;
			cursor: default;
		}
	}
	.text-highlighted {
		font-family: HarmoniaSansBold;
		font-weight: 600;
	}
	.search-resultlist {
		a {
			color: $black;

			&:hover {
				opacity: 1;

				.search-description {
					background-color: $grey_light;
					
					.product-item_name {
						cursor: pointer;
					}
				}
			}
		}
	}
}
.popup-share_product {
	width: 245px;

	.btn-icon {
		width: calc(17px * 1.8);
		height: calc(15px * 1.8);
	}
}
.popup-signin {
	&.popup-window {
		width: 690px;
	}
	#signin_shipping_info {
		width: 100%;
	}
}
.popup-custom {

}

/* temporary ================================================================ */
/* promo */
.promo_full-winter {
	padding: 6px;
	@include flex_center();
	justify-content: center;
	@media screen and (max-width: 479px) {
		flex-wrap: wrap;
		height: auto;
		padding-right: 0;
		padding-left: 0;
	}

	.pfw_sale-image {
		height: 100%;
		width: 185px;
		min-width: 100px;
		padding: 0 15px;
		@include flex_center();
		justify-content: center;
		@media screen and (max-width: 479px) {
			width: 20%;
			min-width: 0;
			padding: 0 4px;
		}

		img {
			@media screen and (max-width: 479px) {
				max-width: 100%;
			}
		}
	}
	.pfw_title-block {
		height: 100%;
		width: 278px;
		min-width: 200px;
		padding: 0 15px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		@media screen and (max-width: 479px) {
			width: 75%;
			min-width: 0;
		}

		.pfw_title {
			text-transform: uppercase;
			@include fonts(HarmoniaSansBlack, 1.38rem, 800, 1.38rem);
			margin-bottom: 9px;
		}
		.pfw_description {
			font-size: 0.75rem;
			color: $tx_black_light2;
		}
	}
	.pfw_add-cart-block {
		height: 45px;
		width: 207px;
		min-width: 150px;
		padding-left: 15px;
		padding-right: 27px;
		@include flex_center();
		justify-content: center;
		@include border("normal", left);
		@media screen and (max-width: 479px) {
			width: 100%;
			border: none;
		}

		.btn-icon {
			width: 1.63rem;
			height: 1.56rem;
			margin-right: 1.13rem;
		}
		.pfw_price {
			@include fonts(HarmoniaSansBlack, 2rem, 800, 2rem);
			color: $tx_important;

			.pfw_price_little {
				font-size: 1.38rem;
			}
		}
	}
}
/* end Temporary ============================================================ */