<div class="container-fluid big-items">
	<div class="row align-items-md-stretch justify-content-center" data-in="prod_items_block">
		<%- include('../../unit-templates/product/product-item', { block_size: "md-3", list_qty: 4 }); %>
	</div>
</div>