@@for ( var i = 0; i < 3; i++ ) {
<div class="col-md-4">
	<div class="product-item_little">
		<a href="`+product_list[i].product_url+`" class="product-item_little_image">
			<img src="`+product_list[i].image_src+`" alt="" />
		</a>
		<div class="vr"></div>
		<div class="product-item_little_description">
			<a href="`+product_list[i].product_url+`" class="product-item_name">`+product_list[i].product_name+`</a>
			<div class="rating_price_block">
				<div class="rating-stars active">
					<div class="icon ico_star"></div>
					<div class="icon ico_star"></div>
					<div class="icon ico_star active"></div>
					<div class="icon ico_star"></div>
				</div>
				<div class="product-item_price plain-price"><span>`+product_list[i].price+`</span>$</div>
			</div>
			<div class="add-cart_btn_with_title">
				<button type="button" class="text-btn_chromatic">
					<span class="icon icon-color-custom ico_add-cart"></span>
					<span>add to cart</span>
				</button>
			</div>
		</div>
	</div>
</div>
}