<div class="counter" data-in="counter">
	<button type="button" class="text-btn_black" data-count-qty="product_plus_qty">+</button>
	<span class="target_qty" data-count-qty="product_target_qty">##3##</span>
	<button type="button" class="text-btn_black" data-count-qty="product_minus_qty">-</button>
</div>