<div class="container-fluid" data-in="load_more_block">
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="load-more" id="<%= locals.section_id; %>">
				<span class="btn-icon icon-color-custom icon-color-start ico_load"></span>
			</button>
		</div>
	</div>
</div>