<div class="advertising_inside promo_full-winter">
	<div class="pfw_sale-image">
		<img src="images/images/sale.png" alt="" />
	</div>
	<div class="pfw_title-block">
		<div class="pfw_title">FULL WINTER KIT</div>
		<div class="pfw_description">Half Jacket + Skiny Trousers + Boot leather</div>
	</div>
	<div class="pfw_add-cart-block">
		<button type="button" class="btn-icon icon-color-custom icon-color-start ico_add-cart"></button>
		<div class="pfw_price">120<span class="pfw_price_little">$</span></div>
	</div>
</div>