<div class="slide slide1">
	<div class="bg-image"></div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-10 offset-md-1 slider_description1">
				<div class="description1_title">FULL WINTER KIT</div>
				<div class="description1_subtitle">Half Jacket + Skiny Trousers + Boot leather</div>
				<div class="description1_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
				<div class="slider-description_purchase">
					<div class="price-block">Price : <span>120$</span></div>
					<button type="button" class="order-block"><span class="icon icon-color-custom ico_cart"></span> Order Now</button>
				</div>
			</div>
		</div>
	</div>
</div>