<!-- Cart popup -->
<div class="popup-window popup-retreat popup-cart" data-popup-targ="cart">
	<div class="d-flex flex-column align-items-center pb-4">
		<div class="container-fluid">
			@@for ( var i = 0; i < 4; i++ ) {
			<div class="row my-5" data-in="cartitem">
				<div class="col-md-3">
					<img src="`+product_list[i].image_src+`" alt="" data-in="cartitem_image" class="cart-img" />
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="product-item_name" data-in="cartitem_name">`+product_list[i].product_name+`</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 pb-2">
							<span class="bold">Category:</span> 
							<span class="category-name" data-in="cartitem_category">`+product_list[i].category+`</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 pb-2">
							<p data-in="cartitem_description">`+product_list[i].description+`</p>
						</div>
					</div>
					<div class="row pt-lg-0 pt-2">
						<div class="col-md-6">
							<div class="prop-sizing">
								<span>Size: </span>
								<span class="sizing" data-in="cartitem_size">`+product_list[i].size+`</span>
							</div>
						</div>
						<div class="col-md-6 d-flex justify-content-md-end">
							<div class="prop-counter">
								<span>Quantity: </span>
								@@include('../unit-templates/product/quantity.html')
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 d-flex justify-content-end pt-2">
							<div class="price-block">Price : <span class="cart_item-price" data-in="cartitem_price">`+product_list[i].price+`</span>$</div>
						</div>
					</div>
				</div>
				<div class="col-md-1 d-flex align-items-md-center justify-content-md-center">
					<button type="button" class="btn-icon icon-color-custom ico_close close-btn del-btn" data-in="cartitem_delete"></button>
				</div>
			</div>
			}
		</div>
	</div>
	<div class="d-flex justify-content-center pt-4 pb-2">
		<button class="btn" type="button" id="popup_cart_confirm">Confirm</button>
	</div>
</div>