<!-- Forgot password popup -->
<div class="popup-window popup-retreat popup-forgot_password" data-popup-targ="forgot_password">
	<div class="h5">Forgot password</div>
	<div class="popup-description">Type your email address and you will receive a letter with a link. Follow this link to change your password.</div>
	<form name="forgot_password" class="d-flex flex-column align-items-center" novalidate>
		<div class="input-parent align-items-center">
			<input class="input" type="email" name="email" placeholder="Email*" required autocomplete="on" />
			<div class="text-empty">Type your email address!</div>
			<div class="text-invalid">Email adress is invalid!</div>
			<div class="server-text-invalid">We have not registered such email address!</div>
		</div>
		<div class="d-flex justify-content-center pt-4 pb-2">
			<input class="btn" name="submit" type="submit" value="Send" />
		</div>
	</form>
</div>