<!-- Sign-in popup -->
<div class="popup-window popup-signin" data-popup-targ="signin">
	<div class="h5">Create accaunt</div>
	<form name="sign_in" class="d-flex flex-column align-items-center">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="input-parent">
						<input class="input" type="email" name="email" placeholder="Email*" required />
						<div class="text-empty">Type your email address!</div>
						<div class="text-invalid">Email adress is invalid!</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-parent">
						<input class="input" type="tel" name="phone" placeholder="Phone" />
						<div class="text-invalid">Phone number is invalid!</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="input-parent">
						<input class="input" type="password" name="password" placeholder="Password*" required />
						<div class="text-empty">Type password!</div>
						<div class="text-invalid">Password must to contain only latin alphabet letters and integer numbers. Also it must to contain at least 6 sumbols.</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-parent">
						<input class="input" type="password" name="rep_password" placeholder="Repeat password*" required />
						<div class="text-empty">Repeat password!</div>
						<div class="text-invalid">This field must to repeat previous field!</div>
					</div>
				</div>
			</div>
		</div>
		<div class="py-2">
			<input class="checkbox" type="checkbox" name="shipping_info" value="shipping_info" id="check_shipping_info" />
			<label for="check_shipping_info" class="label">Add shipping information</label>
		</div>
		<div class="d-flex flex-column py-2 hidden" id="signin_shipping_info">
			<div class="h6">Shipping information</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="input-parent">
							<select name="country" class="select placeholder">
								<option value="" selected disabled>Country*</option>
								@@for ( var i = 0; i < country.length; i++ ) {
								<option value="`+country[i]+`">`+country[i]+`</option>
								}
							</select>
							<div class="text-empty">Select country!</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="input-parent">
							<input class="input" type="text" name="city" placeholder="City*" />
							<div class="text-empty">This field is required!</div>
							<div class="text-invalid">Invalid city name!</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-parent">
							<input class="input" type="number" name="post_code" placeholder="Zip/Postal Code*" />
							<div class="text-empty">This field is required!</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="input-parent">
							<input class="input" type="text" name="street" placeholder="Street*" />
							<div class="text-empty">This field is required!</div>
							<div class="text-invalid">Invalid street name!</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-parent">
							<input class="input" type="text" name="house_number" placeholder="House number*" />
							<div class="text-empty">This field is required!</div>
							<div class="text-invalid">Invalid house number!</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="input-parent">
							<input class="input" type="text" name="first_name" placeholder="First name*" />
							<div class="text-empty">This field is required!</div>
							<div class="text-invalid">This field contains incorrect symbols!</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-parent">
							<input class="input" type="text" name="last_name" placeholder="Last name*" />
							<div class="text-empty">This field is required!</div>
							<div class="text-invalid">This field contains incorrect symbols!</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="py-2">
			<input class="checkbox" type="checkbox" name="privacy_policy" value="privacy_policy" id="check_privacy_policy" />
			<label for="check_privacy_policy" class="label">By registering, you agree  to our  Privacy Policy *</label>
		</div>
		<div class="d-flex justify-content-center pt-4 pb-2">
			<input class="btn" type="submit" value="Register" />
		</div>
	</form>
</div>