<!-- NEW ARRIVALS section -->
<section class="row flex-column new-arrivals_wrap" data-in="section_newarrivals">
	<%- include('wrap-templates/title-section-wrap', {
	section_title_chromatic: "NEW",
	section_title: "ARRIVALS",
	section_description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry",
	loader: true,
	section_id: "load_new_arrivals",
	file_url: "item-cards"}); -%>
</section>