<div class="row product-list_double-block product-list_wrap">
	<!-- PRODUCT SELECTOR FORM -->
	<form name="product_selector" class="col-lg-3 col-md-4 selector">
		@@include('../unit-templates/selector/uni-block.html', { "title": "Categories", "file_url": "./category-item.html", "vars": "categories" })

		@@include('../unit-templates/selector/uni-block.html', { "title": "Price Filtter", "file_url": "./range-block.html", "vars": "price_range_prop" })

		@@include('../unit-templates/selector/uni-block.html', { "title": "Sizes", "file_url": "./check-item.html", "vars": "sizes" })

		@@include('../unit-templates/selector/uni-block.html', { "title": "Brands", "file_url": "./check-item.html", "vars": "brands" })
	</form>
	<!-- PRODUCT LIST -->
	<div class="col-lg-9 col-md-8 product-list">
		<div class="container-fluid">
			<div class="row">
				@@include('../unit-templates/product/product-item.html', { "block_size": "lg-4 col-sm-6", "list_qty": 9 })
			</div>
		</div>
		@@include('../unit-templates/load-more.html')
	</div>
</div>