<!-- PRODUCT DESCRIPTION section -->
<div class="product_wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="product-block">
					<div class="product-desc-image">
						@@include('../unit-templates/images.html', { "nav_images": ["../images/images/goodp2.png", "../images/images/goodp3.png", "../images/images/goodp4.png", "../images/images/goodp2.png", "../images/images/goodp3.png", "../images/images/goodp4.png"] })
					</div>
					<div class="product_describe">
						<div class="product_describe-block">
							<h1>FULL WINTER KIT</h1>
							<div class="product_subtitle">Half Jacket + Skiny Trousers + Boot leather</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry<br>Lorem Ipsum is simply dummy text of the printing<br>and typesetting industry</p>
						</div>
						<div class="product_prop-block">
							<div class="product_prop-block_half">
								@@include('../unit-templates/product/prop-size.html')
							</div>
							<div class="product_prop-block_half">
								@@include('../unit-templates/product/prop-quantity.html')
							</div>
						</div>
						<div class="product_resume-block">
							<div class="price">Price : <span>120</span>$</div>
							<div class="product_purchase-block">
								@@include('../unit-templates/product/product-btn.html')
								<button type="button" class="btn order_btn"><span>Order Now</span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>