<!-- RELATED PRODUCT section -->
<section class="row flex-column related-product_wrap" data-in="section_relatedproducts">
	<%- include('wrap-templates/title-section-wrap', {
	section_title_chromatic: "RELATED",
	section_title: "PRODUCTS",
	section_description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry",
	loader: false,
	file_url: "item-cards" } ); -%>
</section>