<!-- SLIDER section -->
<div class="slider slider_wrap">
	<div class="slider-inside">
		@@include('../unit-templates/slide.html')
		@@include('../unit-templates/slide.html')
		@@include('../unit-templates/slide.html')
	</div>
	<div class="slider_indicator">
		<div class="container">
			<div class="slider-indicator-block">
				<div class="slider-indicator-item"></div>
				<div class="slider-indicator-item slick-active"></div>
				<div class="slider-indicator-item"></div>
			</div>
		</div>
	</div>
</div>