<!-- SUBSCRIBE section -->
<div class="row" data-in="section_subscribe">
	<div class="col-md-12">
		<div class="subscribe_wrap subscription">
			<div class="subscription_title-block">
				<span class="subscription_title text_important">NEWS LETTER</span>
				<span class="subscription_description">join us now to get all news and special offers</span>
			</div>
			<form name="subscription" class="subscription_form" autocomplete="on" novalidate>
				<div class="email-block input-parent">
					<label>
						<span class="icon icon-color-custom ico_mail"></span>
						<input type="email" name="email" class="input" placeholder="type your email here" required />
					</label>
					<div class="text-empty">Please, type a email address!</div>
					<div class="text-invalid">Email address is invalid!</div>
				</div>
				<div class="submit-button-block">
					<input type="submit" name="submit" class="btn" value="join us" />
				</div>
			</form>
		</div>
	</div>
</div>